$white: #ffffff;
$black: #2b2d33;
$yellow: #fee600;
$gray: #d5d5d6;
$light-gray: #808185;
$light-gray-disable: #f4f4f4;
$red-error: #ee505a;
$bgc: #ffffff;
$link: #00809C;
$yellow-hover: #f5dd00;

$screen-phone: 600px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
